<div class=data.className w-bind>
    Father:
    <div>
        <button type="button" w-onClick="handleDecrementClick">-</button>
        <input type="text" value=data.value size="2"/>
        <button type="button" w-onClick="handleIncrementClick">+</button>
    </div>
    Normal child: 
    <number-spinner />
    Child with realState: 
    <number-spinner-with-real-state />
    
</div>